---
import { map } from "astro:schema";
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Page";

const identity = {
  firstName: "Ud",
  country: "Tanzania",
  occupation: "Wannabe Learner",
  hobbies: ["Gaming", "Football", "F1" ,"learning"],
};

const skills = ["HTML", "CSS", "JavaScript", "Python", "Astro", "Driving?"];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "darkgreen";
const fontWeight = "bold";
const textCase = "uppercase";
---
	
<style is:global define:vars={{skillColor,fontWeight,textCase}}>
h1{
		color:rgb(77, 62, 77);
		font-size: 4rem;
	}
.skill{
		color:var(--skillColor);
		font-weight:var(--fontWeight);
		text-transform:var(--textCase);
	}
</style>
<BaseLayout pageTitle={pageTitle}>
	<h2>update on other pages</h2>
    <p>This is the first paragraph of the about page</p>
    <p> This is the second one</p>
	<p>Checking facts with javascript,dynamic content in astro</p>
	<ul>
		<li>My Name is {identity.firstName}</li>
		<li>I live in {identity.country} my occupation is {identity.occupation}</li>
		{
			identity.hobbies.length >= 2 && <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
	</ul>
	<p>My skills are:</p>
	<ul>
  		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>

	{happy && <p>I am happy to be learning Astro!</p>}
	{finished && <p>I finished this tutorial!</p>}	
	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is to finish not in 3 days.</p>}
	
	<script>
		import "../scripts/menu.js";
	</script>
	
</BaseLayout>
        
	
